
@font-face {
    font-family: "heebo";
    src: url(/portfolio-website/assets/fonts/Heebo-Regular.ttf);
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
}

:root{
    --super-title-font-size: clamp(2rem, 9vh - 1vh, 2.75rem);
    --section-title-font-size: clamp(1.125rem, 50%, 1.375rem);
    --recent-post-title-font-size: clamp(1.35rem, 0.2vh, 1.625rem);
    --featured-post-font-font-size: clamp(1.5rem, 50%, 1.8rem);
    --normal-font: 1rem;
    --font-family: "heebo";
}

.container {
    margin: 0 auto;
    width: min(80%, 85rem);
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px){
    .container {
        margin: 0 auto;
        width: min(100%, 85rem);
        min-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.blogpage {
    margin: 0 auto;
    width: min(90%, 75rem);
    height: auto;
    max-width: 1200px;
    min-width: 400px;
}


/* menu section styling start */

.menu-section {
    margin: 2rem auto;
    width: min(80%, 75rem);
    min-width: 250px;
}

.menu {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

li {
    font-size: 1.25rem;
    font-family: var(--font-family);
}

li a {
    text-decoration: none;
    color: #000000;
}

.hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 450px){
    .hamburger {
        display: none;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
/* menu section styling end */




/* Hero sectiont styling start */

.blog-hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.super-title {
    font-size: var(--super-title-font-size);
    font-family: var(--font-family);
    font-weight: 500px;
}

/* Hero section styling end */

/* Hero section styling start */
    .hero {
        width: 100%;
        margin-left: 2rem;
    }

    @media(min-width: 450px){
        .hero {
            margin-left: 0 auto;
            width: 80%;
        }
    }
/* Hero section styling end */




/* recent post section styling start */

.content {
    margin: 0 auto;
    margin-top: 7%;
    width: min(90%, 75rem);
    height: auto;
    max-width: 1200px;
}

.recent-post-section {
    background: #EDF7FA;
    width: 100%;
    min-width: 400px;
}

.recent-post {
    margin: 0 auto;
    width: min(100%, 75rem);
    min-width: 250px;
    font-size: var(--recent-post-title-font-size);
    font-family: var(--font-family);
}


.cards {
    margin: 0.5rem auto;
    width: min(90%, 75rem);
    margin-top: 1%;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    
}

.cards .section-card {
    background: #faf8f8;
    padding: 5%;
    margin-top: 1%;
    /* margin-bottom: 7%; */
}

.card-title {
    color: #21243D;
    font-size: var(--recent-post-title-font-size);
    font-family: var(--font-family);
    font-weight: 700;
}
.card-subtitle {
    width: 80%;
    margin-top: 1.063rem;
    display: grid;
    grid-auto-flow: column;
}

.date, .subtitle {
    font-size: 1.2rem;
    color: #21243D;
   
}

.subtitle {
    color: #8695A4;
}

.line-pipe {
    width: 0px;
    height: 1.313rem;
    border: 1px solid #000000;

}

.divider {
    border: 1px solid #E0E0E0;
}

.card-detail {
    margin-top: 0.632rem;
    font-size: var(--normal-font);
    font-family: var(--font-family);
}

@media (min-width: 450px){
    .cards {
        width: 80%;
        margin-top: 1%;
        display: grid;
        grid-auto-flow: row;
        /* gap: 1.2rem; */
        
    }

    .section-title {
        margin-top: 1.5%;
        display: grid;
        grid-auto-flow: column;
        font-size: var(--recent-post-title-font-size);
        font-family: var(--font-family);
    }

    .section-title .recent-post {
        font-size: var(--section-title-font-size);
        font-family: var(--font-family);
        color: #21243D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .section-title .view-all {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 0.8rem;
        font-family: var(--font-family);
        color: #00A8CC;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .card-subtitle {
        width: 65%;
        margin-top: 1.063rem;
        display: grid;
        grid-auto-flow: column;
    }
    
}


/* recent post section styling end */

